* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 130px;
    flex-shrink: 0;
    background: linear-gradient(93deg, #FF3030 -14.25%, #BD1010 99.19%);
    box-shadow: 4px 4px 8px 4px rgba(96, 55, 17, 0.50);
}
.logo {
    max-width: 140px;
    overflow: hidden;
    padding: 5px 0 0 30px;
}
.contact {
    width: 280px;
    height: 60px;
    display: flex;
    align-items: center;
    margin-right: 30px;
    background: linear-gradient(4deg, #E7B62A -15.73%, #F9D267 64.21%);
    filter: drop-shadow(4px 4px 8px rgba(96, 55, 17, 0.50));
    justify-content: center;
    border-radius: 25px;
    font-family: 'Days One', sans-serif;
    text-align: center;
    text-shadow: 4px 4px 8px rgba(119, 72, 28, 0.25);
    font-size: 25px;
    font-weight: 200;
    line-height: 65px;
    letter-spacing: 1.8px;
    border: 0px;
    transition: transform 0.3s, filter 0.3s, box-shadow 0.3s;
}
.contact:hover {
    transform: scale(1.1);
}
a:link,
a:active,
a:visited,
a:hover {
    text-decoration: none;
}
body {
    background-image: url("https://images.pexels.com/photos/207142/pexels-photo-207142.jpeg?cs=srgb&dl=pexels-pixabay-207142.jpg&fm=jpg");
    background-size: cover;
    background-repeat: repeat;
    background-attachment: fixed;
    height: 100vh;
    overflow: hidden;
}
h1 {
    font-family: 'Freckle Face', sans-serif;
    text-align: center;
    font-size: 70px;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 3.6px;
    background: linear-gradient(97deg, #49EF45 8.47%, #F1C677 44.26%, #F64 65.88%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: #221204;
    margin-top: -80px;
}
.flex-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    margin-left: 80px;
    margin-right: 80px;
}
.text-content {
    flex: 1;
    text-align: center;
}
@keyframes float {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-20px);
    }
    100% {
        transform: translateY(0);
    }
}
.mario_luigi {
    padding-top: 30px;
    width: 346px;
    height: 358px;
    flex-shrink: 0;
    animation: float 5s ease-in-out infinite;
}
.pipe {
    width: 300px;
    height: 200px;
}
.eat-in,
.takeaway {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    background: linear-gradient(4deg, #E7B62A -15.73%, #F9D267 64.21%);
    border-radius: 25px;
    border: 0;
    font-family: 'Days One', sans-serif;
    text-align: center;
    font-size: 25px;
    font-weight: 200;
    line-height: 60px;
    letter-spacing: 1.8px;
    width: 280px;
    height: 60px;
    transition: transform 0.3s, filter 0.3s, box-shadow 0.3s;
}
.eat-in:hover,
.takeaway:hover {
    transform: scale(1.1);
}
h2 {
    font-family: 'Freckle Face', sans-serif;
    text-shadow: 7px 7px 7px rgba(119, 72, 28, 0.50);
    font-size: 70px;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 3.6px;
    background: linear-gradient(97deg, #49EF45 8.47%, #F1C677 44.26%, #F64 65.88%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: #221204;
    margin-right: auto;
    text-align: left;
    padding-left: 20px;
}
.kitchen-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    text-align: center;
    box-sizing: border-box;
    padding: 20px;
}
.kitchen-container > ol {
    flex: 1;
    font-size: 20px;
    list-style-type: none;
    text-align: center;
}
.kitchen-container > ol > li {
    display: flex;
    justify-content: space-between;
}
.kitchen-container > ol > li > div {
    flex: 1;
}
li {
    font-size: 20px;
    padding: 20px;
    color: #221204;
    border-radius: 15px;
    background: linear-gradient(4deg, #E7B62A -15.73%, #F9D267 64.21%);
    text-align: center;
    font-family: 'Days One', sans-serif;
    width: 98%;
    margin: 10px;
}
.status-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    text-align: center;
    box-sizing: border-box;
    padding: 20px;
    margin-top: -20px;
}
.inactive-button, .active-button {
    background: linear-gradient(169deg, rgba(255, 102, 68, 0.65) 6.57%, rgba(255, 48, 48, 0.65) 126.83%);
    text-align: center;
    text-shadow: 7px 7px 7px rgba(119, 72, 28, 0.25);
    font-family: Days One;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 1.4px;
    margin: 30px;
    height: 60px;
    width: 220px;
    border-radius: 25px;
    border: 5px;
    border-style: solid;
    border-color: #690B0B;
    color: #F9D267;
    -webkit-text-stroke: 2px #221204;
    transition: transform 0.3s, filter 0.3s, box-shadow 0.3s;
}
.active-button {
    background: linear-gradient(169deg, #F64 6.57%, #BD1010 126.83%);
}
.inactive-button {
    background: linear-gradient(169deg, rgba(255, 102, 68, 0.65) 6.57%, rgba(255, 48, 48, 0.65) 126.83%);
}
.inactive-button:hover,
.active-button:hover {
    transform: scale(1.1);
}
h3 {
    margin-left: 230px;
    margin-top: -40px;
    font-family: 'Freckle Face', sans-serif;
    text-shadow: 7px 7px 7px rgba(119, 72, 28, 0.50);
    font-size: 50px;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 3.6px;
    color: #F9D267;
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: #221204;
    margin-right: auto;
    text-align: left;
    padding-left: 15px;
}
.pizza {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    text-align: center;
    box-sizing: border-box;
    padding: 20px;
    margin-top: -20px;
}
.pizza-container {
    margin: 15px;
    width: 330px;
    height: 330px;
    flex-shrink: 0;
    text-align: center;
    text-shadow: 7px 7px 7px rgba(119, 72, 28, 0.25);
    font-family: Days One;
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 1px;
    background: linear-gradient(97deg, rgba(255, 219, 120, 0.83) 30.96%, #E48B38 90.94%);
}